<h1><%= @channel.name %></h1>
<%= link_to "Edit", edit_channel_path(@channel) %>
<%= link_to "My Videos", channel_videos_path(@channel) %>
<%= link_to "Add new video", new_channel_video_path(@channel) %>
<%= link_to "Delete", channel_path(@channel), method: :delete, data: {confirm: "Are you sure?"}%>