<div class="video">
    <%= video_tag @video.video_file.url, controls: true, autoplay: true, width: "800", height: "400"%>
    <h1 class="h1"><%= @video.name %></h1>
    <h2 class="h2"> <%= image_tag @video.channel.image.url, class:"channel-image-thumb"%><%= link_to @video.channel.name, @video.channel%>
        <span class="channel-options">
            <%if current_user != @video.channel.user%>
                <% if !is_user_subscribed?%>
                    <%= link_to "Subscribe", "#", 'data-id': @video.channel.id, class:"btn btn-primary subscribe", onclick: "return false;" %>
                <%else%>
                    <%= link_to "Subscribe", "#", class: "btn btn-default", onclick: "return false;" %>
                <% end %>
            <%end%>
            <% if current_user == @video.channel.user %>
                <%= link_to "Delete Video", channel_video_path(params[:channel_id], @video), method: :delete, data: {confirm: "Are you sure ?"}, class: "btn btn-danger" %>
            <%end%>
        </span>
    </h2>
    <p><%= @video.description %></p>
    <%if user_signed_in? %>
        <div class="form-align-left">
            <%= form_for @comment do |f| %>
                <%= f.label :content %>
                <%= f.text_area :content %>
                <%= f.hidden_field :video_id, value: @video.id %>
                
                <%= f.submit "New comment", class: "btn btn-primary" %>
            <%end%>
        </div>
        
    <%end%>
    <%= render @comments %>
    
</div>

