<nav>
    <ul class="navbar fixed-top navbar-dark bg-dark">
        
        <li class="navbar-left">
            <button class="navbar-toggler" type="button">
              <span class="navbar-toggler-icon"></span>
            </button>
            &trade;<%= link_to "YouClone", root_path %>
        </li>
      <li>
        <%= form_for :search, url: search_path, method: :GET do |f|%>
            <%= f.text_field :query %>
            <%= f.submit "Search" %>
        <%end%>      
      </li>  
      
      <li class="navbar-right">
        <% unless user_signed_in? %>
            <%= link_to "Login", new_user_session_path %>
        <%else%>
            <%= link_to "Profile", profile_path(current_user.id) %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <%end%>
      </li>
    </ul>
</nav>
